version: "3.8"
services:
  clientes:
    build:
      context: ./Clientes
      dockerfile: Dockerfile
    container_name: clientes
    ports:
      - "8081:8081"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:sqlite:/data/clientes.db
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.sqlite.JDBC
    volumes:
      - ./Clientes/data:/data
    restart: unless-stopped
    networks:
      - tpi-networks



networks:
  tpi-networks:
    driver: bridge