services:
  clientes:
    build:
      context: ./Clientes
      dockerfile: Dockerfile
    container_name: clientes
    ports:
      - "8081:8081"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:sqlite:/data/clientes.db
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.sqlite.JDBC
    volumes:
      - ./Clientes/data:/data
    restart: unless-stopped
    networks:
      - tpi-networks

  solicitudtraslado:
    build:
      context: ./SolicitudTraslado
      dockerfile: Dockerfile
    container_name: solicitudtranslado
    ports:
      - "8082:8082"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:sqlite:/data/solicitudtranslado.db
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.sqlite.JDBC
      - KEYCLOAK_ISSUER_URI=http://host.docker.internal:8080/realms/TPI-Realm
      - KEYCLOAK_JWK_SET_URI=http://host.docker.internal:8080/realms/TPI-Realm/protocol/openid-connect/certs
    volumes:
      - ./SolicitudTraslado/data:/data
    restart: unless-stopped
    networks:
      - tpi-networks

  gateway:
    build:
      context: ./Gateway
      dockerfile: Dockerfile
    container_name: gateway
    ports:
      - "8083:8083"
    environment:
      - KEYCLOAK_ISSUER_URI=http://host.docker.internal:8080/realms/TPI-Realm
      - KEYCLOAK_JWK_SET_URI=http://host.docker.internal:8080/realms/TPI-Realm/protocol/openid-connect/certs
      - CLIENTES_SERVICE_URL=http://clientes:8081
      - SOLICITUDES_SERVICE_URL=http://solicitudtraslado:8082
    depends_on:
      - keycloak
      - clientes
      - solicitudtraslado
    restart: unless-stopped
    networks:
      - tpi-networks

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.0
    container_name: keycloak
    ports:
      - "8080:8080"
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin123
      - KC_DB=dev-file  # Base de datos embebida para desarrollo
    command: start-dev
    networks:
      - tpi-networks
    volumes:
      - keycloak-data:/opt/keycloak/data

volumes:
  keycloak-data:



networks:
  tpi-networks:
    driver: bridge